{% extends "migrator/base.html" %}

{% block title %}Interface d'Administration{% endblock %}

{% block bodyId %}LocalEndpoint{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="LocalEndpoint" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Merci de vous connecter</h2>
        {{ form.as_p }}
            <!--{% if error %}
            <p class="error">{{error}}</p>
            {% endif %}

            <label for="email" class="sr-only">Votre Email : </label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Ex : contact@example.com" required autofocus/>
            <label for="password" class="sr-only">Votre Mot de passe : </label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Se Souvenir
                </label>
            </div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Validez</button>
    </form>
</div> <!-- /container -->
{% endblock %}